<ion-view title="Home" id="page2" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-ios-search"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="home-card21">
      <ion-item class="item-avatar" id="home-list-item10">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="home-list-item-container2">
        <div id="home-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="home-list-item11">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
      <div class="list card" id="home-card22">
        <ion-item class="item-avatar" id="home-list-item12">
          <h2>Item</h2>
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="list card" id="home-card23">
          <ion-item class="item-avatar" id="home-list-item14">
            <h2>Item</h2>
          </ion-item>
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
          <div class="item item-body" id="home-list-item-container4">
            <div id="home-markdown4" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Some friendly
                <strong>markdown</strong>
              </p>
            </div>
          </div>
          <ion-item class="item-icon-left assertive" id="home-list-item15">
            <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
        <div class="item item-body" id="home-list-item-container3">
          <div id="home-markdown3" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Some friendly
              <strong>markdown</strong>
            </p>
          </div>
        </div>
        <div class="list card" id="home-card24">
          <ion-item class="item-avatar" id="home-list-item16">
            <h2>Item</h2>
          </ion-item>
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
          <div class="item item-body" id="home-list-item-container5">
            <div id="home-markdown5" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Some friendly
                <strong>markdown</strong>
              </p>
            </div>
          </div>
          <ion-item class="item-icon-left assertive" id="home-list-item17">
            <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
        <ion-item class="item-icon-left assertive" id="home-list-item13">
          <i class="icon ion-music-note"></i>Play Song</ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>